.main_container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow: hidden;
}
.main_container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
  width: 100%;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  overflow: auto; /* scroll if content overflows */
}

footer {
  grid-area: footer;
}
